@media (max-width : 991px) {
    .card-back {
        border: 1px solid red;
        max-width: 50%;
        
    }
}
@media (max-width : 700px) {
    .card-back {
        border: 1px solid red;
        max-width: 50%;
        
    }
}
.container{
    
}